.contact-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* use 'center' for vertical centering */
    min-height: 100%;
    padding: 40px 24px;
    gap: 15px;

    .contact-card {
        background: white;
        border-radius: 15px;
        border: 1px solid green;
        padding: 22px 28px;
        width: 95%;
        max-width: 900px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
        text-align: center;
        animation: fadeIn 0.5s ease-out;
        transition: transform 0.2s ease, box-shadow 0.3s ease;
        text-align: justify;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
        }

        h1 {
            color: #304e2a;
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 12px;
        }

        p {
            color: #2c3a2b;
            font-size: .75rem;
            line-height: 1.6;
            margin: 0;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}